<div class="container">
  <div style="background: rgb(238, 245, 241)!important" class="jumbotron">
    <br>
    <div style="display: flex; justify-content: center;">
      <img src="assets/images/gurpreetkaur.gif" class="pull-left img-responsive" style="height:25%;width:22%;" >
    </div>
    <br>
      <h4 class="text-center"><i class="fa fa-lg fa-angle-double-left"></i> A LITTLE ABOUT ME <i class="fa fa-lg fa-angle-double-right"></i> </h4>
      <br>
      <p class="lead" >   Hi , My name is Gurpreet Kaur. I am a student of Software Engineering Technology at Centennial College , Toronto.
        I have hands-on experience in Java , .NET , C# and JavaScript. I love designing websites and android applications.
        I am an enthusiastic person and a keen learner. My goal to work for an IT firm as a Web Developer.
        My personal interests include exploring new places , listening music and playing volleyball.</p>

        <div style="display: flex; justify-content: center;">
       <a class="btn btn-primary btn-lg" href="assets/documents/ResumeGK.pdf"  target="_blank" role="button" style="background: rgb(53, 58, 55)!important" >Link to my resume!</a>
      </div>
       <br>

</div>

  </div>
