
  <div class="container">
    <div style="background: rgb(128, 212, 163)!important" class="jumbotron">
      <br>

        <h2 class="text-center" >Hello ! Welcome to My Portfolio ..</h2>
      <br>
      <br>
        <h4 class="text-center"> Mission Statement</h4>
        <p class="lead" >  I am a committed and a hard-working individual who is focused on enhancing the
          technical skills. My coursework has helped me gain knowledge to excel in the field of software development.
          I believe that <b>"Success usually comes to those who are too busy to be looking for it"</b>.</p>

          <h4 class="text-center"><a class="btn btn-primary btn-lg" href="/about" role="button" style="background: rgb(53, 58, 55)!important"> Click here to know more about me !! </a></h4>
          <br>




      </div>
  </div>
