<div class="container">
  <div style="background:rgb(238, 245, 241)!important" class="jumbotron">
        <h5 style = "text-align:left"><b>Gurpreet Kaur</b></h5>
        <br>
        <p style = "text-align:left" >
        <b>Address:</b> 62 Sundance Crescent , Scarborough,Ontario, M1G2M2<br>
        <b>Contact Number:</b> (437)-998-9097<br>
        <b>Email:</b> gurpreet9907@gmail.com
        </p>
        <br>

        </div>
    </div>

<div *ngIf="isLoggedIn()" class="container">
  <div class="row">
    <div class="col col-md-6">
      <div class="card">
        <h5 class="card-header alert-success">Secure</h5>
        <div class="card-body">
          <a routerLink="contact-list" class="btn btn-primary"><i class="fas fa-users fa-lg"></i> Contact List</a>
        </div>
      </div>
    </div>
  </div>
</div>
