<div class="container">
  <div style="background: rgb(238, 245, 241);!important" class="jumbotron">
    <h2 class="text-center" style="color: rgb(11, 165, 57)"><b>My Project Highlights</b></h2><br>
    <h4 style="color: rgb(15, 15, 15)"><b>TTC Pay Application: Android Platform</b></h4>
    <br />
    <div class="clearfix">
      <img
        class="img2"
        src="assets/images/ttcpayapp.JPG"
        style="height:10%;width:15%; float:left"
      />
      <p style="vertical-align: middle">
      <br>
        A group project which aimed at building an android application for TTC.
        I played a role of software developer in this project and used android
        studio as developing platform to create multiple application screens.
        The app was linked to a SQL database to manage the data .
      </p>
    </div>

    <br />

    <h4 style="color: rgb(14, 13, 13)"><b>Electronic Products API</b></h4>
    <div class="clearfix">
      <img class="img2" src="assets/images/apiproject.PNG" style="height:130%;width:29%; float:left"/>
      <br>
      Project related to API Management concept. An API application was built using C# on the visual studio.
      The main purpose of the API is to allow users to search for different electronic products along with their price.
      The Apigee platform was used to manage the API and was publshed to AWS cloud service.
    </div>
    <br />
    <br>
    <h4 style="color: rgb(14, 13, 13)"><b>Shopper's Point Application </b></h4>
    <div class="clearfix">
      <img class="img2" src="assets/images/shopperspoint.PNG" style="height:15%;width:20%; float:left"/>
      <br>
      Shoppers Point is a web based application which aimed at developing a platform for selling and purchasing
      of the used products.The seller could upload the pictures of a product and the buyer can view the product details
      on the application. IT project management principles were applied to manage the project in timely and cost-effective
      manner. I played the role of a project manager in this project which helped me gain deep understanding of
      success -factors of a project.
    </div>
    <br />


  </div>
</div>
