<div class="container">
  <div style="background:rgb(238, 245, 241)!important" class="jumbotron">
   <h2 class="text-center" style="color: rgb(11, 165, 57)"><b>Services </b></h2>
      <br>
  <br>
  <div class="row">
      <div class="col-md-4">
        <div class="thumbnail">
          <img src="assets/images/API.png"  style="width:90%">
            <div class="caption">
              <p>API Management</p>
            </div>

        </div>
      </div>
      <div class="col-md-4">
        <div class="thumbnail">
          <img src="assets/images/web-development.jpg"   style="width:100%;">
            <div class="caption">
              <p>Web Development</p>
            </div>

        </div>
      </div>
      <div class="col-md-4">
        <div class="thumbnail">
          <img src="assets/images/database.jpeg" style="width:100%">
            <div class="caption">
              <p>Databases</p>
            </div>
          </div>
      </div>
    </div>

</div>
</div>
<div class="container">
<div style="background:rgb(238, 245, 241)!important" class="jumbotron">

  <div class="row">
      <div class="col-md-4">
        <div class="thumbnail">
          <img src="assets/images/androidprogramming.png" class="img-rounded" alt="Lights" style="width:90%">
            <div class="caption">
              <p>Android Programming</p>
            </div>

        </div>
      </div>
      <div class="col-md-4">
        <div class="thumbnail">
          <img src="assets/images/softwaretesting.jpg"   style="width:100%;">
            <div class="caption">
              <p>Software Testing</p>
            </div>

        </div>
      </div>
      <div class="col-md-4">
        <div class="thumbnail">
          <img src="assets/images/aws.png" style="width:100%">
            <div class="caption">
              <p>Amazon Web Services</p>
            </div>
          </div>
      </div>
    </div>



</div>
</div>
